@import "../../../../public/styles/variables.scss";

.quote_create-container {
  background-color: white;
  border-radius: 12px;
  height: auto;
  // width: 40%;
  border: 4px solid $wb-background;
  margin: 1rem;
}

// ==================================================
.quote_create-header {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  padding: 0rem;
  border-bottom: 4px solid $wb-background;
}

.quote_create-header-left {
  display: flex;
}

.quote_create-header-left > * {
  margin: 0.1rem 1rem;
}

.quote_create-header-icon {
  color: $wb-blue;
  //   margin: 1rem;
  padding: 0;
}

.quote_create-header-text {
  color: $wb-violet;
  //   display: inline;
}

.quote_create-header-btn {
  color: $wb-grey;
  float: right;
}

// ==================================================
.quote_create-body {
  height: auto;
}

.quote_create-row {
  display: flex;
  justify-content: space-between;
  margin: 2px;
}

.quote_create-field {
  width: 250px;
  // margin: 10px 30px 10px 30px;
}
