@import "../../../../public/styles/variables.scss";

.quote_create-container {
  background-color: white;
  border-radius: 12px;
  height: auto;
  width: 40%;
  border: 2px solid $wb-grey;
  margin: 1rem;
}

// ==================================================
.quote_create-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  border-bottom: 1px solid $wb-grey;
}

.quote_create-header-icon {
  color: $wb-blue;
  //   margin: 1rem;
}

.quote_create-header-text {
  color: $wb-violet;
  //   display: inline;
}

.quote_create-header-btn {
  color: $wb-grey;
  float: right;
}

// ==================================================
.quote_create-body {
  height: auto;
}

.quote_create-row {
  display: flex;
  justify-content: space-between;
  margin: 2px;
}

.quote_create-field {
  width: 250px;
  // margin: 10px 30px 10px 30px;
}
