@import "../../../public/styles/main.scss";
@import "../../../public/styles/variables.scss";

.sidebar-c {
  width: 200px;
  background: $wb-salad;
  color: "#fff";
  flex-direction: column;
}

.sidebar-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.main-content {
  flex-grow: 1;
  height: "100vh";
  width: "100%";
  overflow: "auto";
  margin: 0;
  background: $wb-background;
}

.sidebar-drawer {
  position: relative;
  white-space: nowrap;
  width: 200px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: $wb-grey;
  color: $wb-violet;
}
